[2018-03-05 01:18] Ybrin opened #1 "Add equatability to all custom types"
Implement the `Equatable` protocol for all public API types so objects can be equated.

[2018-03-05 01:19] Ybrin opened #2 "Add optional PromiseKit extensions subspec/target"
Add Promise enabled functions for `Web3` calls.

[2018-03-05 01:21] Ybrin opened #3 "Optional custom secp256k1_context management"
Add the possibility to create and destroy (manage) an own `secp256k1_context` to make library calls faster for applications that require a high amount of `secp256k1_context` relevant calls (by sacrificing convenience).

[2018-03-05 01:24] Ybrin opened #4 "Add Getting Started to README and release version 0.1.0"
Add examples and explanations to README as well as installation guides and information about why this library exists and for what exactly it can be used.

Release version 0.1.0

[2018-03-05 01:26] Ybrin commented on #4
Also add a disclaimer that the public API may change at any time between minor version jumps until we reach version 1.0.0 to increase efficiency in early development.

[2018-03-05 14:20] Ybrin opened #5 "Make http rpc module queues concurrent by default"
The http rpc calls should be done concurrently by default.

[2018-03-06 14:28] Ybrin opened #6 "Mocking Web3 request tests"
Mock Web3 request tests instead of relying on Infura as this is obviously bad practice.

[2018-03-06 14:29] Ybrin opened #7 "Increase code coverage"
The aim is not to increase the code coverage value but rather to make sure our code meets the specifications in as many cases as possible.

[2018-03-06 14:32] Ybrin opened #8 "Code Quality"
Make sure our code gets a good grade on codebeat.

[2018-03-06 14:35] Ybrin opened #9 "Contract ABI interaction"
Add a convenient optional API (subspec/target) to parse contract ABIs (either in json format or as a Swift Type) and generate correct transaction input data for function calls.

[2018-03-07 11:16] Ybrin opened #10 "Remove Alamofire dependency"
Alamofire is not needed for the HTTP RPC module for iOS, macOS,...

[2018-03-07 20:45] #10 closed

[2018-03-08 10:00] Ybrin opened #11 "Remove Vapor Bytes dependency"
The Byte array extensions from Vapor Bytes we use are not really hard to implement on our own. The problem with Vapor Bytes is that they don't regularly release updates on Cocoapods which makes it a little bit hard to use.

[2018-03-11 22:05] #5 closed

[2018-03-11 22:49] Ybrin commented on #1
Maybe some types should also be `Hashable`

[2018-03-27 20:30] Ybrin commented on #1
Also add tests. Especially for the `hashValue`

[2018-03-29 22:00] Ybrin commented on #1
Should be done.

[2018-03-29 22:00] #1 closed

[2018-03-29 22:00] Ybrin commented on #2
Done.

[2018-03-29 22:00] #2 closed

[2018-04-06 15:24] Ybrin commented on #8
Our score is quite good. We should move this to version 0.2.0 and rethink a few design decisions, which will take a little bit longer...

[2018-04-07 02:37] #11 closed

[2018-04-12 17:08] gkd720 opened #12 "Signing and unsigning."
I was doing some experimentation in developing an application that used the public ethereum blockchain, and accessing with web3.js. I poked around in this repository, looking for some specific web3.js functions, like "sign" and "ecrecover", but I didn't see them. I do see a "sign" method associated with transactions, however. I want to be able to sign a user generated string/data, and then later r

[2018-04-13 15:30] Ybrin commented on #12
Hi @gkd720

Thank you for your feedback. We are currently in the process of releasing version 0.1.0. If you have a look at the milestone, the only thing missing is the documentation and a better README. This will be done in a few days.
Now having that said, version 0.1.0 can only sign and verify normal Ethereum transactions and interact with the blockchain with all the methods [Infura](https://inf

[2018-04-15 14:17] emiliomarin opened #13 "Problems with installation"
Hello, I'm tying to install this library in my project. When I add pod 'Web3' to my Podfile I get this error:

`[!] Unable to find a specification for Web3`

Could you provide a more detail instructions to install?

[2018-04-16 18:59] Ybrin commented on #13
Hi @emiliomarin

Thank you for your comment.

We just released version 0.1.0.

Please try again by first updating your pod repo

[code]

and then running `pod install` again after adding `pod 'Web3'` to your Podfile.

Also have a look through our new README where you can find helpful examples to get you started.

If you have any other questions, just ask. We are here to help.

[2018-04-16 19:00] Ybrin commented on #13
Also, if you want to use the PromiseKit extensions like in the tutorial, you should add

[code]

to your Podfile and run `pod install` again.

[2018-04-16 22:33] Ybrin commented on #4
Done. Version 0.1.0 is officially released. 🎉

[2018-04-16 22:33] #4 closed

[2018-04-16 22:34] Ybrin commented on #7
We increased code coverage in the last few commits but codecov can't analyze the coverage data with Xcode 9.3 right now. Moving this issue to milestone 0.2.0 for now...

[2018-04-22 11:30] Ybrin commented on #12
Just for anyone interested: You can still sign any arbitrary message manually by calling the `sign` function of `EthereumPrivateKey` to sign it with your private key. The function accepts a byte array. If you have a String you need to convert it first.
This function returns a triple with the values `v`, `r` and `s` which you need to verify the signature later.

Verifying a signature is as easy as

[2018-04-22 11:32] Ybrin commented on #13
Your problem should not exist any more. Please confirm this so we can close this issue.

[2018-04-30 22:42] jlstr opened #15 "How to Call Methods from a Custom ERC20 Contract?"
Hello!

I have my own ERC20 contract, with transfer, transferFrom methods, etc. I would like to know how to get a reference to such a contract (via ABI + address combination?) and then make calls to its methods. Is this possible? If so, would you mind pointing out where can I find an example.

Thanks in advance,
-Jose

[2018-05-07 20:43] jaramburu commented on #15
I am also interested in an answer to this.

[2018-05-13 00:37] pixelmatrix opened #16 "Cannot extend eth send methods"
I'm trying to extend the Eth module in my own app to include a couple of additional methods, but ran into an issue. Eth.properties is internal, and that's the only place where the provider and the rpcId are stored. One additional issue is that in the PromiseKit subspec, the Web3Response sealPromise method is fileprivate, so I can't easily add promise-based methods.

As a temporary workaround, I cr

[2018-05-13 13:52] Ybrin commented on #16
You are right. `properties` should definitely be public. Not just in the `Eth` struct but also in `Net`.

I'm not quite sure about the `sealPromise` method. I am not completely satisfied with this `Web3Response` extension but if you think that's the right way for now you can definitely add it.

Please open a pull request with those fixes if you can. I will publish a bug fix release with them ASAP.

[2018-05-13 14:33] Ybrin commented on #15
@jlstr @jaramburu

First of all: Calling ABI functions is something I want to make MUCH easier than it is right now. I am currently designing something for it and you can track the development of it in #9

This does not mean you can't interact with smart contracts with the current version.

If you want to read from a smart contract you can just construct an instance of [EthereumCall](https://githu

[2018-05-13 14:37] Ybrin commented on #13
I will close this issue for now. If you still have problems with the installation just reopen it.

[2018-05-13 14:37] #13 closed

[2018-05-13 17:17] pixelmatrix commented on #16
Thanks for the quick response. I've opened up #17 to fix it, and it works for me locally. I left the PromiseKit stuff out for now, since it sounds like maybe you're still thinking about the best way to handle that. Perhaps there could be a protocol and an extension for conformance that automatically adds a Promise return type.

[2018-05-13 18:05] Ybrin commented on #16
You are right, I am not yet completely convinced of my implementation and don't really want to make it available until I am.

I will definitely think about how to implement a generic solution for sealing the promises and make it available in the public API.

[2018-05-13 21:14] pixelmatrix commented on #16
Sounds great. Thanks for the quick response, and great work so far on the framework!

[2018-05-13 21:14] #16 closed

[2018-05-14 07:39] realxoin opened #18 "Can't link provider"
let web3 = Web3(rpcURL: "https://mainnet.infura.io/<your_infura_id>")
example given does not work.

How to add provider into project ?

[2018-05-14 09:44] realxoin commented on #18
<img width="972" alt="screen shot 2018-05-14 at 5 38 07 pm" src="https://user-images.githubusercontent.com/38094563/39989872-bba03d5a-579d-11e8-924d-431662e67b02.png">

As seen in the image, xcode prompts me to replace 'rpcURL' with 'provider'. Right after i click 'fixed', another error prompting "Argument type 'String' does not conform to expected type 'Web3Provider'"

[2018-05-14 10:26] Ybrin commented on #18
Did you import Web3?

Do the following in your file:
[code]

[2018-05-14 10:26] Ybrin commented on #18
Btw, do you use Cocoapods or Carthage?

[2018-05-14 11:55] realxoin commented on #18
yes, imported Web3 and i'm using cocoapods

[2018-05-14 11:58] Ybrin commented on #18
Please do a clean and rebuild. If it still gives you the same error you have to give me access to an example repository. I honestly can't reproduce it...

[2018-05-14 20:02] Ybrin commented on #15
@jlstr

Ok I made something which you can use for now specifically for ERC20 contracts.

Copy the following file into your project:

https://gist.github.com/Ybrin/c2db36fce19b821221b3f8fdb7bae7da

This adds a `ERC20` struct into your project which hash helper functions to create transactions for writing to and calls for reading from an ERC20 smart contract.

You can use it like that (Note: The exa

[2018-05-14 20:53] jlstr commented on #15
Hello,
This is absolutely gorgeous. I haven't tested it yet, but it does look Magnificent! I will test it once I get a chance and let you know how it goes.

Always a pleasure to be able to be in contact with such talented individuals, can't thank you enough for this,
Kindly,
-Jose

[2018-05-15 06:22] pixelmatrix opened #19 "EthereumTransactionReceiptObject cannot always be decoded"
I'm doing a transaction and then calling `web3.eth.getTransactionReceipt(hash)` and I found a couple of issues.

1. It seems that most of the time the `EthereumTransactionReceiptObject` can't be decoded because it's assuming `EthereumLogObject` always has the `removed` property. I'm not sure why, but i'm not seeing that value coming back in the logs. Changing that property to an optional value cau

[2018-05-15 06:36] pixelmatrix opened #20 "Thoughts on web3 PromiEvent"
This is less of an issue, but more of a question. I'm wondering how you're thinking about handling the equivalent of web3.js' PromiEvent (promise + event emitter). More specifically, I'm curious how this Web3 library will handle callbacks related to transaction events. In Javascript, you can get called when your transaction receipt is ready, when it's confirmed, and if it fails, which is essential

[2018-05-15 15:48] Ybrin commented on #19
Btw, `logIndex` in `EthereumLogObject` should also be an optional. The documentation states the following:

[2018-05-15 17:37] pixelmatrix commented on #19
Yeah, it seems the spec is not quite clear about optional keys. I think it's safe to say if it's excluded it should be false, but I do wish there was a more precise spec there. I came across some discussion about that key here: https://ethereum.stackexchange.com/questions/7905/ethereum-event-log-removed-field

Another possibility is that there is a difference in how Parity and geth nodes report th

[2018-05-15 20:07] pixelmatrix commented on #19
Do you prefer to keep removed as not optional and have a default value of false, or make it optional to match the json representation?

[2018-05-15 22:50] Ybrin commented on #20
Your implementation sounds quite reasonable and I think it should also work with socket connections for now.

I get now what you mean with confirmation. Actual block confirmations. I think 6 is more than enough but this should be definitely configurable.

To avoid the NotificationCenter we could still add the possibility to register multiple callbacks in our class. I know that's not the same but l

[2018-05-15 23:02] pixelmatrix opened #22 "EthereumTransaction optional values"
What do you think about making some of EthereumTransaction's values optional? Our SDK signs remotely so we'd like to be able to create an EthereumTransaction object that only includes the necessary keys for the standard `eth_sendTransaction` call.

Our ideal implementation would have the following as optional:

- nonce (we populate this automatically)
- gasPrice (we also load this automatically)
-

[2018-05-16 01:09] Ybrin commented on #22
The EthereumTransaction as of now is specifically made for signing. I don't think we can change it to fit both the signable and not signable transactions so splitting them into two different unrelated structs seems like the way to go.
A few things to note:

* `to` should actually be Optional in the signable transaction as, like you said, creating a contract requires you to have no receiver. That's

[2018-05-16 15:45] pixelmatrix commented on #22
Okay that sounds good to me. I’ll work on a proposal today.

[2018-05-16 17:40] #19 closed

[2018-05-16 17:41] pixelmatrix commented on #19
Closing now that #21 is merged

[2018-05-23 00:14] pixelmatrix commented on #22
This was fixed with #24

[2018-05-23 00:14] #22 closed

[2018-05-24 00:48] pixelmatrix opened #26 "String.hexBytes() suggestion"
I've encountered a few instances where string.hexBytes() threw an error because the value was not divisible by 2. It looks like the root of the issue is that hex can actually be represented with or without a leading zero, and String.init(_:, radix:) returns the most compact format.

A quick example using the Swift console:

[code]

Since you're iterating over the string in 2 character increments i

[2018-05-24 18:51] Ybrin commented on #26
Yes I think you are right. Omitting leading zeros is definitely allowed for hex numbers and it shouldn't be a problem to append it in our implementation.

[2018-05-24 18:51] Ybrin commented on #26
Do you want to implement this or do you want me to do it?

[2018-05-24 19:40] pixelmatrix commented on #26
I can do a quick PR later today. Do you want to target 0.2.0 or master?

[2018-05-24 19:54] Ybrin commented on #26
0.2.0 please. I think I'm going to move the Contract ABI stuff to 0.3.0 and release 0.2.0 with the bug fixes and features we added until now...

[2018-05-30 09:15] keithpiong commented on #15
Hi,
Is it possible to sign transaction with keystore (generated by Geth) instead of private keys ?

[2018-05-30 14:07] Ybrin commented on #15
@keithpiong You would have to extract the private key from the keystore. So you will need the passphrase and the keystore.
With both of them you can follow the instructions on how to extract the private key (with AES-128-CTR and scrypt) and then use this private key to create an instance of `EthereumPrivateKey` to sign transactions like in the examples above.

If you want this private key extracti

[2018-05-30 16:29] keithpiong commented on #15
Thanks for the guide, I shall attempt to do so. Will also open a new issue on extracting private key from keystore.

[2018-05-30 16:34] keithpiong opened #28 "Extracting Private Keys From Keystore?"
if only there's a simpler way to extract private keys directly from keystore

[2018-05-30 18:32] Ybrin commented on #28
@pixelmatrix Do you know the keystore implementation? I never worked with it directly so I don't know exactly what we would need for it.
Some questions I have are:

* Is the actual encryption available in [CryptoSwift](https://github.com/krzyzanowskim/CryptoSwift) or do we need another dependency/our own implementation of it?
* Same question for the key derivation function they use
* If we need to

[2018-05-30 18:37] pixelmatrix commented on #28
Hey @Ybrin, i'm not really sure about the keystore. Our keys are all managed server side so we avoid needing to use that. Is this referring to iOS Keychain or something else?

[2018-05-30 18:40] Ybrin commented on #28
@pixelmatrix No I think he is talking about the files geth generates (also MEW I think?) if you create a new wallet.

This one: https://medium.com/@julien.m./what-is-an-ethereum-keystore-file-86c8c5917b97

[2018-05-30 19:01] pixelmatrix commented on #28
Interesting… it doesn't seem like there's a json rpc method for that, so you'd need direct access to the node's filesystem somehow. Assuming you had the json file, is the request for being able to parse that file into an `EthereumPrivateKey` object?

[2018-05-31 02:42] keithpiong commented on #28
Yes, @Ybrin is right. I have been using Geth to create wallet and I am able to use the export and import key function. And yes, the keystore are JSON encoded. Can be found with the link below:

https://github.com/ethereum/go-ethereum/wiki/Mobile:-Account-management

I understand that if I were to keep the keystore file, it is much more secure instead of keeping my private key. However, it gets a b

[2018-06-07 17:09] Florian-S-A-W commented on #28
I think you are not missing anything in the JS implementation. Note that recover returns the private key as a buffer, I suggest you take a look at: https://nodejs.org/api/buffer.html#buffer_class_buffer

[2018-06-09 11:12] Ybrin commented on #26
The related PR was merged so I'm closing this.

[2018-06-09 11:12] #26 closed

[2018-06-13 18:41] Ybrin opened #32 "BigDecimal and BigUDecimal types"
We need those types for fixed/ufixed in the upcoming contract abi module.

[2018-06-21 17:26] iBinh opened #34 "Missing Web3+HTTPInitializer.swift"
I install via cocoapods and pod directory seem missing Web3+HTTPInitializer.swift and Web3HttpProvider.swift
so that    Web3(rpcURL: "https://mainnet.infura.io/<your_infura_id>") does not work

[2018-06-21 18:03] Ybrin commented on #34
Please send me your Podfile, or at least the Web3 line in it.

On Thu, Jun 21, 2018, 19:26 skillerman <notifications@github.com> wrote:

[2018-06-21 18:03] iBinh opened #35 "Send Ether value under 1"
How to send value under 1 ether, for ex: 0.01

[2018-06-21 18:12] iBinh commented on #34
`target 'Test App' do
  # Comment the next line if you're not using Swift and don't want to use dynamic frameworks
  use_frameworks!

    pod 'Alamofire'
    pod 'SwiftyDropbox'
    pod 'Web3/PromiseKit'

end
`

[2018-06-21 18:13] Ybrin commented on #34
Please change it to the following:

[code]

[2018-06-21 18:13] Ybrin commented on #34
[code]

[2018-06-21 18:14] Florian-S-A-W commented on #35
The numeric value of the transaction is meant to be wei. This is the smallest amount you can send. Use this: https://etherconverter.online/ or similar tools to convert.

[2018-06-21 18:14] #35 closed

[2018-06-21 18:15] iBinh commented on #34
It works. Thank you!

[2018-06-21 18:17] Ybrin commented on #34
Always install the normal `Web3` package and add extensions after that. That's the way we manage subspecs right now. I think I will add a section to the readme to clarify it...

[2018-06-22 17:29] Ybrin commented on #34
I think this issue is resolved now.

[2018-06-22 17:29] #34 closed

[2018-06-22 17:31] Ybrin commented on #9
This issue should be resolved now in the 0.3.0 branch and will be merged into master soon.

[2018-06-22 17:31] #9 closed

[2018-06-24 20:33] Ybrin opened #44 "ABIDecoder crashes on some wrong outputs"
I tried getting the symbol of an erc20 token (https://etherscan.io/address/0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0) and the decoder crashed.
[This line](https://github.com/Boilertalk/Web3.swift/blob/master/Web3/Classes/ContractABI/ABI/ABIDecoder.swift#L44) fails and the error is "Can't remove first element from an empty collection".

I don't know the exact reason. Maybe this ERC20 token is brok

[2018-06-24 20:34] Ybrin commented on #44
@pixelmatrix Please have a look

[2018-06-24 22:56] pixelmatrix commented on #44
Will do! Thanks for flagging

[2018-06-25 17:40] pixelmatrix commented on #44
Hm, yeah so it looks like the reason this is crashing is that it isn't checking to make sure the range exists before trying to remove the first element. We should absolutely fix this, but I think you ultimately wouldn't get the value you're looking for without the crash. Bytes32 would be non-dynamic so the value would be in the head, while the String type would expect value in the tail.

Are you u

[2018-06-25 20:09] Ybrin commented on #44
I'm using `GenericERC20Contract ` and the contract is definitely not compatible. But the crash shouldn't happen nevertheless. The response will be nonsense though...

[2018-06-26 22:03] #44 closed

[2018-06-29 10:49] Ybrin commented on #28
@keithpiong Check out https://github.com/Boilertalk/Keystore.swift

[2018-07-03 14:09] GabCas opened #46 "Create and Import Accounts"
Is there a way to create and/or import accounts?
from: http://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html#create
I'm looking for:
- web3.eth.accounts.create()
- web3.eth.accounts.privateKeyToAccount(privateKey);

[2018-07-03 14:15] Ybrin commented on #46
Yes there is. You have to create a new private key with the default initializer of `EthereumPrivateKey` and the use [the keystore library](https://github.com/Boilertalk/Keystore.swift) to create a keystore 'account'.
Please visit the keystore repository for examples. But to create the raw private key which you have to do first you can use Web3. Here is an example:

[code]

[2018-07-03 18:24] GabCas commented on #46
Thank you, that worked. I was able to create a keystore account and extract the private key.
Is it normal that each step takes around 45 seconds? Granted, I'm using an iPhone 5 with iOS 10.

[2018-07-03 19:31] #46 closed

[2018-07-03 21:24] Ybrin commented on #46
Hey @GabCas

Long keystore creation and private key extraction times are only normal in
debug builds. Once you build it for production (with speed optimizations,
which is default for iOS production builds) it should be 50 to 60 times
faster. I am already using it in a system which generates 'a few' per
second even on older iPhones.

On Tue, Jul 3, 2018, 21:31 GabCas <notifications@github.com> wrot

[2018-07-06 08:51] Ybrin commented on #28
Run `pod repo update` and then again `pod install`

On Fri, Jul 6, 2018, 10:26 keithpiong <notifications@github.com> wrote:

[2018-07-06 14:28] blockcowboy commented on #15
I have contract deployed to Ropsten. The contract has functions with arguments. Not clear how to use Web3 to select the function in the contract. Any examples available or tutorial available?

[2018-07-06 14:34] Ybrin commented on #15
@blockcowboy Did you check out the examples for contract function calling in the README?

[2018-07-06 14:51] blockcowboy commented on #15
Yes. I had to change the eip55 to false to get around checksum error.

I see the try contract but can not identify the function selector.

Sorry

IJN

[2018-07-06 14:54] blockcowboy commented on #15
I guess I need guide how to  "create a static template"

[2018-07-09 15:21] Nixsm opened #48 "Contract ABI fallback functions"
The `ABIObject` always expect inputs, which is not correct if the contract contains a fallback function, a possible fix would be changing the `parameters` to be optional

[2018-07-09 23:39] Ybrin commented on #48
I think the fallback function is not a real function. It is actually only called if you don't provide any extra data which essentially means you just send a normal transaction.
So I think instead of having the fallback function in your contract definition you should just create a normal transaction to the contract account and don't provide extra data. You could also add a convenient function to th

[2018-07-09 23:43] pixelmatrix commented on #48
Yes, as far as I understand, the fallback function is executed when you send ETH to a contract without any instructions. According to the spec, there are no inputs or outputs allowed:
http://solidity.readthedocs.io/en/v0.4.24/abi-spec.html#json

@Nixsm are you saying you want to use the fallback function somehow, or that you're having trouble decoding a contract that has a fallback function?

[2018-07-10 14:11] Nixsm commented on #48
@pixelmatrix I'm having trouble parsing a contract that has a callback function, I get an error saying that the `inputs` field is required

[2018-07-10 14:14] Nixsm commented on #48
This JSON is invalid for the `ABIObject`:
[code]
But it's a valid Solidity function

[2018-07-10 18:12] dsemenovsky opened #51 "Getting contract Events"
Hi! I checked source code and documentation and it seems there is no way to list events of the contract or subscribe to event listener.

Am I right and it is to be implemented or I just didn't know where to look?

[2018-07-10 18:15] Ybrin commented on #51
@pixelmatrix Do we have this yet? I haven't used it so I can' really answer it...

[2018-07-10 18:38] pixelmatrix commented on #51
So as of right now there's partial support for events. It depends on what sort of events are you looking to get.

First, it's possible to look at what types of events can be returned from a contract by looking at JSONContract.events. However, these are not instances of the event, but the spec of an event.

As far as instances of events on the blockchain go, currently this library does not support

[2018-07-10 19:21] dsemenovsky commented on #51
@pixelmatrix Thank you for the explanation! I will have to wait until getting past events are supported as this is needed for my application to work.

[2018-07-10 19:30] pixelmatrix commented on #51
No problem. Can you give me more details about what exact functionality you're looking for? Are you looking for all past events, or filtering them? I think we can at least scope this out and see how much work it would be.

[2018-07-10 19:40] dsemenovsky commented on #51
Well, ideally all functions described here:
https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#events
However, contract.events.MyEvent() with filtering by block number will be enough.

I need the capability of getting logged events by event name, e.g. Register, and polling them every N seconds (with the same function, different block numbers) unless subscriptions are available.

[2018-07-11 00:54] pixelmatrix commented on #51
Got it. Thanks for the clarification!

[2018-07-11 13:16] Nixsm opened #52 "Invoking contract methods using a [ABIEncodable] alongside ABIEncodable... parameters"
## Problem

Currently we have this method to invoke methods of a contract:
[code]
However, variadic functions a bit of pain to work with, in a sense that we can't send an array of parameters, we have to type each parameter separated by commas.

## Possible Solution

I suggest we drop the variadic parameter and create a `subscript` method that receives an array of `ABIEncodable` and then, create a

[2018-07-17 10:38] mrdavey opened #53 "Bug: Insufficient funds error when there are funds available"
Hi there

I'm using a dynamic contract and can make calls to it successfully. However when using 'contract.createTransaction' methods on the same contract, I keep receiving the error:

I'm signing the 'contract.createTransaction' with my privateKey and the correct ETH address (with sufficient balance) is being shown for privateKey.address.

I'm not sure what else to try as the transaction seems to

[2018-07-18 14:18] Ybrin commented on #53
Hey @mrdavey

Could you please create a quick sample project with this bug and send us a link or a zip file?

[2018-07-19 19:56] Ybrin opened #54 "Change provided static contracts to return the value instead of `[String: Any]`"
I am talking about `ERC20Contract` in this issue but it applies to all our static contracts.

### Problem

Currently all functions we provide in `ERC20Contract` return a `SolidityInvocation`. This makes our protocols very flexible but also has the disadvantage that we have to make something like that to get the return values we want from the functions:

[code]

It is very similar with other functi

[2018-07-19 19:58] Ybrin commented on #54
@pixelmatrix What do you think? I am not sure about how we could make the same for transactions ( the examples are only relevant to read calls). Maybe requiring the private key as another parameter and signing them automatically...?

[2018-07-19 20:11] pixelmatrix commented on #54
Certainly seems like a cleaner API. The reason it returns the dictionary currently is just based on the implementation from web3.js, but I agree in the case of swift it makes things more cumbersome. A previous iteration just returned [Any] with only the values, but it seemed like the extra clarity might be helpful in some cases.

It might be challenging to create a standard for how contracts shoul

[2018-07-20 22:10] mrdavey commented on #53
Sorry for the delay @Ybrin . See https://www.dropbox.com/s/ylk74487foanv90/test.zip?dl=0

To get the same error, complete the 'privateKeyString' in the ViewController file (with an address with some amount of ETH), then run in simulator and hit the button. I've tested this on mainnet with both infura and myetherapi and they return similar errors.

[2018-07-20 23:37] Ybrin opened #55 "Make from optional for createTransaction"
The `from` value for the `createTransaction` function in `SolidityInvocation` should be optional just like in the `EthereumTransaction` initializer as it is not really required if you want to send a raw transaction.

[2018-07-22 22:54] Ybrin commented on #53
@pixelmatrix Can you reproduce this?

[2018-07-22 22:56] Ybrin commented on #52
I think this should be fine. Is there a reason why we currently use a variadic parameter instead of an array? Just convenience? @pixelmatrix

[2018-07-22 22:59] Ybrin commented on #54
@pixelmatrix Yes I agree, if we want to build a standard for it we will have to try it in real world examples first. Maybe it would be the best to try it out with our templates and build the standard on top of it moving forward...

[2018-07-22 23:01] #48 closed

[2018-07-23 17:23] pixelmatrix commented on #55
Good catch!

[2018-07-23 17:49] pixelmatrix commented on #53
Btw looks like this error code is a generic transaction error from Parity, so we'll just have to go off of the message:
https://github.com/paritytech/parity-ethereum/blob/master/rpc/src/v1/helpers/errors.rs#L37

[2018-07-23 18:46] pixelmatrix commented on #52
I was just trying to emulate a natural way to call these so it actually looks like a function. I totally agree that variadics are a pain to work with if you're not calling them directly though. I think it just depends what we want the default usage to be.

[code]
or…

[code]

What I was really aiming for though was to support dynamic member subscripts once Swift 4.2 is released so we could do:

[c

[2018-07-23 20:29] Nixsm commented on #52
I'll implement this asap and send a PR, thanks for the response guys!

[2018-07-24 16:38] mrdavey commented on #53
Thanks for investigating. What are the potential solutions to this? (I'd really like to use this library in production and not have to go back to Web3.js) 😅

[2018-07-26 09:56] Jonyzfu14 opened #56 "How to export keystore from the wallets which created by Mnemonic Phrase"
We can import a wallet using Mnemonic Phrase, but how to export keystore file after this wallet generated. Shall I use keystore.swift you wrote?

[2018-07-26 10:10] Ybrin commented on #56
Yes, use keystore.swift to export private keys encrypted as keystore files.

Btw, how do you import mnemonics? I actually need this right now...

On Thu, Jul 26, 2018, 11:56 Jonyzfu14 <notifications@github.com> wrote:

[2018-07-27 20:31] pixelmatrix commented on #53
@mrdavey I can look into this at some point. Currently swamped with some other work but i'd like to get to the bottom of this!

[2018-08-01 18:32] mrdavey opened #57 "Using decimal precision with EthereumQuantity"
'EthereumQuantity' only accepts BigUInt, however this becomes a problem if I want to do this:
`EthereumQuantity(quantity: BigUInt(1.5).eth)`

Is there a way to create an 'EthereumQuantity' using a Double?

[2018-08-04 10:44] Ybrin commented on #57
Why would you want to create an EthereumQuantity with a Double? Everything in this library (and in the Ethereum ecosystem) is calculated with wei. There are no fragments of wei as this is the smallest unit in Ethereum.

[2018-08-04 10:48] Ybrin commented on #57
If you need it as an input parameter for a Contract which uses `fixed` or `ufixed` types, you will have to wait until the next minor version jump where we will add those types and corresponding `BigDecimal` and `BigUDecimal` types. You can track the progress in branch [feature/decimal](https://github.com/Boilertalk/Web3.swift/tree/feature/decimal).

[2018-08-06 21:50] Nixsm commented on #52
I'll leave the default subscript method and add a new `invokeMethod` to the contract, so we keep the variadic interface working

[2018-08-07 23:06] blau2 opened #59 "Retrieve hex string representation of EthereumSignedTransaction?"
Is there any way to get a hex string representation of the `EthereumSignedTransaction` object?

[2018-08-07 23:33] Ybrin commented on #59
Yes. You have to convert it to an RLPItem first and then use the RLPEncoder.

[code]

You can add an extension for EthereumSignedTransaction which does this for you and returns the string. Maybe we should add this into the core module in an update...

[2018-08-07 23:34] Ybrin commented on #59
This is actually exactly what `eth_sendRawTransaction` does before sending the transaction

[2018-08-08 08:17] blau2 commented on #59
Thanks @Ybrin for the quick response - exactly what I was looking for. That would be a handy thing to add but this works fine for now. Cheers!

[2018-08-09 02:41] you05333991 opened #60 "Error：Could not parse abi object:"
`let contractJsonABI = "[{\"constant\":false,\"inputs\":[{\"name\":\"spender\",\"type\":\"address\"},{\"name\":\"value\",\"type\":\"uint256\"}],\"name\":\"approve\",\"outputs\":[{\"name\":\"\",\"type\":\"bool\"}],\"payable\":false,\"type\":\"function\"},{\"constant\":true,\"inputs\":[],\"name\":\"totalSupply\",\"outputs\":[{\"name\":\"\",\"type\":\"uint256\"}],\"payable\":false,\"type\":\"function

[2018-08-13 01:58] rogerluan commented on #53
Guys, FYI, I was having the same issue, but the error was
[code]
(from the link above ☝️ )

I managed to get it to work by going into https://www.myetherwallet.com/#offline-transaction, putting my sender address (preceded by `0x`) in the "from address" field, filling the "to address", value, and leaving "data" blank. I signed it, and read the Raw Transaction data, which included a `"chainId": 3`.

[2018-08-13 14:35] mrdavey commented on #53
Good spotting @rogerluan ! That solved the issue.
I.e. replaced `let signedTx = try tx?.sign(with: myKey)` with `let signedTx = try tx?.sign(with: myKey, chainId: 1)`

[2018-08-13 15:48] rogerluan commented on #53
I made this an enum in my project so it's type-safe, and also so that I can alternate it based on the environment (e.g. sandbox, dev, staging, production) alongside other API keys and URLs e.g. Infura 👍

[2018-08-13 15:49] rogerluan commented on #53
Also @mrdavey I still don't get what's the behavior when the default `0` is used? 🤔 I think this parameter should have no default value, or default to 1 since it's the main net? :)

[2018-08-13 16:30] mrdavey commented on #53
Good idea on making it typesafe 👍 I think the default `0` was a mistake, as it isn't really used for replay protection, as far as i know. See https://github.com/ethereum/EIPs/blob/master/EIPS/eip-155.md

[2018-08-13 16:51] mrdavey commented on #53
@Ybrin @pixelmatrix I've created a PR that should clarify the 'fix' for this issue #61

[2018-08-13 18:07] pixelmatrix commented on #53
My understanding is that providing a '0' value SHOULD work, but it doesn't give you the simple replay protection that passing a chainId would give you (The protection is against submitting the same transaction on another chain).

My guess is that something is wrong with the RLP encoding for the 0 value here (causing the node to see a different address), but passing a chainId is probably for the be

[2018-08-13 18:28] Ybrin commented on #53
@pixelmatrix Please see https://github.com/Boilertalk/Web3.swift/pull/61#issuecomment-412616514 for my thoughts regarding this issue.

[2018-08-15 21:38] mscilab opened #63 "Error: Ambiguous reference to member 'firstly(execute:)'"
Hi, I am trying to test the "Send raw transaction" example [Link](https://github.com/Boilertalk/Web3.swift/tree/335ec4a31990b0ba43bea4e717a22c3f2498affd#send-raw-transaction) Unfortunately I always get an error: "Ambiguous reference to member 'firstly(execute:)'".

[code]

[2018-08-15 22:12] Ybrin commented on #63
What does `getPrivateKey` do? I think it should be replaced with `privateKeyTwo.address`.

[2018-08-16 09:51] mscilab commented on #63
@Ybrin getPrivateKey returns the ethereum address.

I copied and pasted the original code, same error "Ambiguous reference to member 'firstly(execute:)'" in marked line (//Error appears in this line).

[code]

[2018-08-16 21:38] Ybrin commented on #63
The following should work:

[code]

The problem was the incorrect `gasLimit` argument label which was changed to `gas` in the last version. I have to fix that in the README...

If you have obscure compiler errors like that, it's always worth a try to explicitly write the return types of the promise closures. I don't know why but if you do this you get better error messages...

[2018-08-17 11:47] mscilab commented on #63
Thank you! It's working now.

[2018-08-17 11:47] #63 closed

[2018-08-21 12:38] fflach opened #64 "Loading Dynamic Contract: "Expected to decode Array<Any> but found a dictionary instead.""
Hey Ybrin, I am currently working with your example for dynamic contracts [(Boilertalk - Dynamic Contracts)](https://github.com/Boilertalk/Web3.swift#dynamic-contracts) but I get an error when I am trying to load the contract.
[code]
Error:
Swift.DecodingError.typeMismatch(Swift.Array<Any>, Swift.DecodingError.Context(codingPath: [], debugDescription: "Expected to decode Array<Any> but found a dic

[2018-08-21 14:32] fflach commented on #64
So I could solve this error by following the loadStub function. Unfortunately I ran directly in a new problem I can´t solve. It seems to be an issue with the json file:

debugDescription: **"No value associated with key CodingKeys(stringValue: \"inputs\", intValue: nil) (\"inputs\")."**

[code]

Complete Error:
Swift.DecodingError.keyNotFound(CodingKeys(stringValue: "inputs", intValue: nil), Swift

[2018-08-21 21:56] Ybrin commented on #64
Hey @fflach

Which version of Web3 are you using in your example above? I'm gonna look into this in detail tomorrow...

[2018-08-22 08:32] fflach commented on #64
Thank you for your quick response!
When installing the pod the listed version is `Web3 (0.3.0)` . I deployed the contract with the current version of truffle. The contract is written in solidity version 0.4.23.

[2018-08-22 11:58] Ybrin opened #65 "DynamicContractTests never run all tests"
The DynamicContractTests always stop creating tests because of [this line](https://github.com/Boilertalk/Web3.swift/blob/master/Example/Tests/ContractTests/JSONContractTests.swift#L54).

`contract.deploy` somehow always fails and because we just return there we don't even notice when running the test suite.

I think the deploy fails because there is no `constructor` function in the `ERC721.json` s

[2018-08-22 12:18] Ybrin commented on #64
I think this is a bug in the `ABIObject` decoder.

[In this line](https://github.com/Boilertalk/Web3.swift/blob/master/Web3/Classes/ContractABI/Contract/ABIObject.swift#L89) `decode` should be replaced with `decodeIfPresent` to make `inputs` really optional.

I couldn't test it yet as I can't directly reproduce the error. @fflach Could you send me either the full json abi or an example project?

@

[2018-08-22 18:33] pixelmatrix commented on #64
@Ybrin has this PR been released yet? I believe this should fix the inputs issue on fallback functions: https://github.com/Boilertalk/Web3.swift/pull/50

[2018-08-22 18:37] Ybrin commented on #64
@pixelmatrix Oh sorry, I missed that. I'm gonna release it now...

[2018-08-22 18:39] pixelmatrix commented on #65
Hmm, that's a good catch! Looks like a simple mistake. Perhaps this was supposed to use another stub? I can submit a fix for this.

[2018-08-22 18:42] pixelmatrix commented on #64
Awesome. Hopefully that will solve it. The original issue is because you need to pass "abi" as the key so it can find the abi inside the json. Might be worth updating the documentation to mention that since compiled Truffle artifacts always have the abi nested.

[2018-08-24 06:27] Jonyzfu14 opened #66 "How to call methods from class DynamicContract in the example"
We can get a list of events and methods when we using class DynamicContract in your example, but is there an efficient way to call these methods and interact with contracts?

We also tried Dynamic Contract way you mentioned in the Readme file. But some issues happened when parsing ContractJsonABI json file. Could you please let us know which way is better to interact with our smart contract? Thank

[2018-08-27 01:29] Mr-Lin-Old commented on #64
I don't know how to use the Function or Event that In Contract,Please tell me In your free,Thank you very much

[2018-08-29 02:03] voyage11 opened #67 "How to get Error Code or Message?"
Hi,
I have been searching for a way to extract the code and message out from the error.

For example:-
`Error: Error(code: -32000, message: "insufficient funds for gas * price + value")`

How can I get the Code and the Message?

[2018-08-30 06:38] QA411 opened #68 "how to import wallet by keystore and password?"
how to import wallet by keystore and password?

[2018-09-01 13:04] Ybrin commented on #68
Please have a look at [Keystore.swift](https://github.com/Boilertalk/Keystore.swift)

[2018-09-01 15:42] Ybrin commented on #67
If you have an instance of error you could do something like that:

[code]

[2018-09-01 15:42] Ybrin commented on #67
Having to provide the generic type for RPCResponse on your own is really not great. I think we should change the Error to a non-subtype.

[2018-09-01 15:57] Ybrin commented on #64
@Mr-Lin-Old Please join our Telegram chat with the link below if you have a question which is not an issue with the library.

https://t.me/joinchat/BPk3DE6CTFaiOolSIZNLyg

[2018-09-01 15:58] Ybrin commented on #60
Sorry, please upload you json abi as a file somewhere and provide the download link.

[2018-09-01 15:59] Ybrin commented on #67
Btw, my example is only possible with version 0.3.1 which was released just today...

[2018-09-01 16:00] Ybrin commented on #66
@Jonyzfu14 For questions please join our telegram chat as our response time there is much faster.

https://t.me/joinchat/BPk3DE6CTFaiOolSIZNLyg

[2018-09-02 00:53] voyage11 commented on #67
I tested. It worked great! Thanks @Ybrin !

[2018-09-02 00:53] #67 closed

[2018-09-04 11:13] tzuhanli opened #69 "How to send signed raw transaction with some data?"
Hello,
I have a simple smart contract about read and write some value.

I can read my “owner” value successfully, but can not write value to the “owner”.
When I send transaction to contract, it will return “**Error(code: -32000, message: “insufficient funds for gas * price + value”)**”, but I’m sure my account have enough gas. (**2996400390000000001**)

I created a EthereumTransaction, signed it w

[2018-09-04 11:52] Ybrin commented on #69
Please change the following line:

[code]

to something like that:

[code]

and change the chainId accordingly if you are in a different network than mainnet. [See this link](https://github.com/ethereum/wiki/wiki/JSON-RPC#net_version) for testnet chainIds.

#62 Will "solve" this issue by removing the default value of 0. Actually you should never omit the chainId to have the simple replay protectio

[2018-09-13 18:21] blau2 opened #70 "Compiler error with Xcode 10 GM: Type 'Data' does not conform to protocol 'BytesInitializable'"
/Pods/Web3/Web3/Classes/Core/Toolbox/Data+BytesConvertible.swift:10:1: Unavailable initializer 'init(bytes:)' was used to satisfy a requirement of protocol 'BytesInitializable'

[2018-09-13 19:08] blau2 commented on #70
I believe that `Data` no longer conforms to `BytesInitializable` because `BytesInitializable` requires a throwable initializer `init(bytes: Bytes) throws`, however the `Data` initializer `init<S>(bytes elements: S) where S : Sequence, S.Element == UInt8`  does not throw.

[2018-09-16 15:34] Ybrin commented on #70
Really? Is this required in the new version of Swift? Actually omitting the throws declaration was always possible in Swift as the "postcondition" is only strengthened if done so. E.g. trying a non throwing function is not an issue, but not trying a throwing function would be.

If they really changed this behaviour, we would have to add our own throwing functions to all types conforming to `BytesI

[2018-09-17 02:37] pixelmatrix commented on #70
Hmm, it sounds like maybe they made this change because now they have better guarantees with conditional conformance. Maybe BytesInitializable should do the same?

[2018-09-17 02:40] pixelmatrix commented on #70
https://github.com/apple/swift/pull/18443

[2018-09-18 10:07] Ybrin commented on #70
@pixelmatrix Oh I missed that. It seems like the generic version of the initializer isn't compatible with our signature. You are right, we should definitely change that for Swift 4.2. Maybe together with a general refactoring to make use of the newly added conditional conformance features?

[2018-09-20 17:06] Nixsm commented on #12
This actually works -> https://github.com/Boilertalk/Web3.swift/blob/master/Web3/Classes/Core/Transaction/EthereumPublicKey.swift#L225

[2018-10-03 10:31] ealymbaev opened #71 "List of all transactions related to account (private key)"
Is it possible to get the list of all past (historical) transactions quickly?
As I can see now - I can only get the count of transactions for account (using nonce number), but how can I get all these transactions in order to show to the user?

[2018-10-03 13:54] Ybrin commented on #71
No, as far as I know neither geth nor parity provide this option. You will have to use a service like the etherscan api. There are versions of etherscan for all major testnets and the mainnet.

https://etherscan.io/apis

[2018-11-02 14:54] pixelmatrix commented on #70
Hmm, you should be able to build this SDK against Swift 4.0 and it should be fine. Might need to set this in the Podspec. I can look into this, but for the meantime maybe just try changing the swift version for just this framework to 4.0 or 4.1.

[2018-11-02 17:37] pixelmatrix commented on #70
Confirmed locally that changing the swift version under Build Settings on the Web3 framework to Swift 4 allows it to be built for an app running Swift 4.2. That should allow you to at least use this library for now, but we should also add swift_version to the Podspec.

[2018-11-05 00:45] darwinharianto commented on #70
I'm sorry, I'm new to swift. I tried to change the version to 4, but it still says error. I installed it using cocoa pods
<img width="1400" alt="screen shot 2018-11-05 at 9 43 55" src="https://user-images.githubusercontent.com/44696192/47972438-8f38e700-e0df-11e8-9b5c-14face4b9e23.png">

[2018-11-05 00:57] pixelmatrix commented on #70
<img width="1116" alt="image" src="https://user-images.githubusercontent.com/93030/47972591-8d751200-e052-11e8-83e1-fcaf26e44e36.png">

Hey @darwinharianto I submitted a PR to fix the issue, but this is the setting you need to change. It looks like you've changed the swift version for the Pods project, or for your app's project, but you actually have to select the Web3 framework within the Pods pr

[2018-11-05 01:05] darwinharianto commented on #70
it works, thanks

[2018-11-05 06:19] darwinharianto opened #73 "connecting to private network"
I have created a private network that can communicate between 2 computers on the same network. Executing some contracts. How do I connect this module with my own private network? I want to execute the contract at my node from iPhone. is there any guide for how to do this?

[2018-11-16 00:01] blau2 commented on #70
@darwinharianto Alternatively, you can add a `post_install` script to your Podfile as follows (otherwise performing a `pod install` will reset the Swift version back to 4.2):

[code]

[2018-12-03 14:57] JimTmj15 opened #74 "Can't find transaction hex in Etherscan"
I have send a raw transaction via infura to Rinkeby network, the function returns me a transaction hex and I couldn't search the transaction in etherscan. Please help me on this matter. Thanks

[2019-02-18 05:34] vickyiosdev commented on #28
**let privateKey =  try?  (key.privateKey(password: password))**

For above mentioned line of code to get private key it is taking almost **6minutes**.
please help me out here.

[2019-02-18 06:21] Ybrin commented on #28
@vickyiosdev You'll have to production compile your app. It will greatly
reduced the time it takes to encrypt/decrypt. On a normal iPhone it should
be just a few seconds (1-5). This is an issue with the underlying hashing
and encryption libraries we use. They are really inefficient if compiled
without the optimization flags...

On Mon, Feb 18, 2019, 6:34 AM vickyiosdev <notifications@github.com wr

[2019-02-18 16:46] vickyiosdev commented on #28
@Ybrin Thanks,
In debug mode should we change any flags in Xcode.
In release mode app is crashing.
please help me out here.

[2019-02-18 22:36] Ybrin commented on #28
You could manually add maximum optimization flags to the debug build. But
you should really fix your release build at some point. Is the crash in any
way related to Web3 or Keystore? I need the logs to help you...

On Mon, Feb 18, 2019, 5:46 PM vickyiosdev <notifications@github.com wrote:

[2019-02-19 16:49] vickyiosdev commented on #28
Fixed Crash issues.
@Ybrin Could you please provide clear idea on optimization flags, which flags i need to update in Xcode.
Thanks.

[2019-02-19 19:37] vickyiosdev commented on #28
@Ybrin Unable to show activity indicator while extracting private key.
UI is getting freeze.
Note: In main thread I'm enabling activity indicator.

Could you please help me out here.

[2019-04-16 22:10] PabloBlanco10 opened #76 "Can't call my smart contract functions"
I have a simple smart contract deployed in rinkeby :
`pragma solidity ^0.4.18;

contract CarChain {

    struct Car {
        uint id;
        string plate;
        uint userId;
        bool registered;
    }

    struct User{
        uint id;
        uint credit;
        uint carId;
        bool registered;
    }

    mapping(uint => User) public users;
    mapping(uint => Car) public cars;

[2020-05-04 07:34] OleksiiShulzhenko opened #81 "How to make an ERC20 contract locally with contractAddress, decimal, symbol?"

[2020-05-04 11:07] Ybrin commented on #81
What do you mean?

[2020-05-04 11:08] Ybrin commented on #81
Please ask questions in the Telegram group as we are more responsive there

[2020-05-04 11:29] OleksiiShulzhenko commented on #81
@Ybrin Sorry, I did not find a telegram group.
This is an example of how I worked with another library.
You have the field “data: Ethereum Data” in the initializer of the Ethereum Transaction object, and I need to set the token data to it.

<img width="964" alt="Снимок экрана 2020-05-04 в 14 14 19" src="https://user-images.githubusercontent.com/22858812/80961378-854a8e00-8e13-11ea-84ff-d555c9e9950

[2020-07-09 11:30] pushkin2023 opened #83 "Crash in EthereumAddress. Need help!"
I am using in my project web3 either as pod or with carthage and when i create a EthereumAddress object the app crashes with  EXC_BAD_ACCESS (code=1, address=0x5)  on line: 'let hash = SHA3(variant: .keccak256).calculate(for: Array(hex.lowercased().utf8))'
Has anybody issues with this or can help me resolve the crash? Thanks.

[2020-07-23 12:10] koraykoska commented on #83
@pushkin2023 Can you reproduce this in an example project and push it to Github so I can check? Also tell me on which iPhone Model it happens please.

[2020-08-13 14:18] DwCleb opened #84 "How can I do a Basic Auth in Web3?"
I need apply user and password in some endpoints in my request.

How can I pass a user and password in this request?

[2020-08-27 22:54] haritowa commented on #51
Hello guys, are there any updates regarding events support?

[2020-09-03 13:14] sche commented on #56
@koraykoska hey
I just wonder, so the lib does not support importing an account by mnemonic yet, right?

[2020-09-03 13:17] koraykoska commented on #56
@sche No. I started an implementation a while back. But I did not finish it and it's been too long to get into it fast. If you create an IssueHunt issue I can look into it. Or you can always do it yourself and make a PR.

[2020-09-03 13:17] koraykoska commented on #56
@sche Actually, maybe it's even better to make a custom library like keystore.swift. I like keeping this repository clean and working only with raw bytes.

[2020-09-03 13:20] koraykoska commented on #56
@sche Some relevant information regarding this:

https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki

https://github.com/bitcoinjs/bip39

https://github.com/miguelmota/ethereum-hdwallet

Join our Telegram channel for more discussions: https://t.me/joinchat/BPk3DE6CTFaiOolSIZNLyg

[2020-09-03 15:11] sche opened #85 "Can not run unit tests"
I tried to:
1) run 'pod install' in Examples folder.
2) open Web3.xcworkspace
3) run unit tests for Web3-Example
=> fails

Do I do smth wrong?

[2020-09-03 15:23] koraykoska commented on #85
@sche I have made a big mistake with the unit tests by not mocking the server requests and unfortunately Infura decided to break their API keys.
Try to only run the local tests, that should work.
You can also generate a new Infura key and try the tests again or,

if you dare, create a mock for an Ethereum node so we can finally write tests without Infura.

[2020-09-03 15:24] koraykoska commented on #85
@sche So don't run `Web3Tests/Web3HttpTests.swift` as this file contains Infura dependencies. Everything else should work. If not let me know the error please.

[2020-09-22 14:13] jayarajb1116 opened #86 "how to call erc20 approve function?"
I could not find any example?
please provide some example?

[2020-10-01 16:52] koraykoska commented on #85
I fixed this.

The next major version of Web3.swift will not support anything other than SPM.

I made this decision as it becomes more and more prevalent that Cocoapods and Carthage are not maintained any more.
There are so many issues with Cocoapods that I don't even want to get started with it.
But as a matter of fact: Cocoapods is not really maintained any longer. And for anyone using XCode 11

[2020-10-01 16:52] #85 closed

[2020-10-01 16:57] koraykoska commented on #86
What do you mean exactly? Give me an example. There are some examples on how to use the Contract ABI in the README and in the tests.

[2020-10-01 16:59] koraykoska commented on #84
You can create your own `Web3Provider`. Have a look at https://github.com/Boilertalk/Web3.swift/blob/master/Sources/FoundationHTTP/Web3HttpProvider.swift for an example. You can pretty much copy & paste it and add the Basic Auth for URLRequest.

Then you would only have to provide your own Provider to the Web3 initializer here:

https://github.com/Boilertalk/Web3.swift/blob/master/Sources/Core/Web

[2020-10-01 17:01] koraykoska commented on #83
@pushkin2023 I will close this. Let me know if you still need help in the Telegram Group. https://t.me/web3_swift

[2020-10-01 17:02] #83 closed

[2020-10-01 17:03] koraykoska commented on #81
@OleksiiShulzhenko https://t.me/web3_swift

[2020-11-02 02:00] koraykoska commented on #6
This is more important now because Infura somehow revokes our token every few days and generating a new one for every PR sucks.

[2020-12-04 06:37] rushita10 opened #91 "Error while declaring promise kit"
I need to send etherum using this library, while I am getting this error.
![Screenshot 2020-12-04 at 12 06 51 PM](https://user-images.githubusercontent.com/60166636/101130300-38d56400-3629-11eb-8ce5-a2a585f3d0a5.png)

[2020-12-04 07:06] koraykoska commented on #91
Please ask those questions in the Telegram group. You can find a Link to it
in the Readme.

On Fri, Dec 4, 2020 at 14:37 rushita10 <notifications@github.com> wrote:

[2020-12-05 10:39] simibac opened #92 "Cannot convert value of type 'Promise<EthereumQuantity>' to closure result type 'Guarantee<T>'"
Running the code snippet from the README for sending an ETH tx fails:

[code]

Error for `web3.eth.getTransactionCount(address: privateKey.address, block: .latest)`:

and for `}.then { nonce in`:

I am using Xcode 12.2.

[2020-12-09 18:04] podkovyrin opened #93 "Cannot decode empty value"
I'm trying to decode an empty value and getting `couldNotDecodeType` error:

[code]

Error:
[code]

[2020-12-27 16:34] JulianKakarott commented on #92
I have the exact same problem. Any solution yet?

[2021-01-22 04:04] madeofmoney opened #96 "Question about balances"
Hey guys,

Great job with the library - just having fun and tinkering around and wanted to ask a question about the return value **EthereumQuantity**

If I make a request for a balance like so:
[code]

the `eth.quantity` comes back as a BigUInt... Question is: what in the world does this int represent lol? I am assuming it's an integer based representation of the value at that address but how woul

[2021-01-22 04:18] madeofmoney commented on #96
Nvm got it -> wei converter 👍 thanks guys hope you keep the project alive.

[2021-01-22 04:18] #96 closed

[2021-01-30 04:21] ChuanqingYang opened #97 "How can I create a HD wallet with Web3.swift?"

[2021-03-08 13:15] daihovey commented on #57
@koraykoska I need BigDecimals in my project - whats the state of the decimal branch? It seems to be ready, why was it never merged in?

[2021-03-22 22:08] mudilajaganios opened #100 "Build error unknown package 'Web3' in dependencies of target 'MyProject'"
I am getting the subject build error after adding the following dependencies to my target.

`dependencies: [
                .product(name: "Web3", package: "Web3")
//                .product(name: "Web3PromiseKit", package: "Web3"),
//                .product(name: "Web3ContractABI", package: "Web3"),
            ]),`

This is my package.swift file

// swift-tools-version:5.3
// The swift-tools-v

[2021-04-27 22:34] kohlivarun5 opened #102 "import Web3PromiseKit : Module compiled with Swift 5.3.2 cannot be imported by the Swift 5.4 compiler"
Just updated to latest macOS and Xcode, and I get this error now.
Is there a new release or anything needed on the library/package side ?

[2021-04-27 23:01] kohlivarun5 commented on #102
It fixed itself, sorry for the false alarm

[2021-04-27 23:01] #102 closed

[2021-04-29 14:54] AndreyNovikov2909 opened #103 "insufficient funds for gas * price + value"
Hello
I always get this error when signing the transaction "insufficient funds for gas * price + value" I understand that the problem is not with gas, but in the private key with which I sign the transaction, what could be the problem? Methods that do not require gas are successful, I can say for sure that there is a sufficient amount on my wallet - 0x92Ddc4493d6839811F047D7729b2cFcB4DA3780F. if i

[2021-06-12 18:31] mudilajaganios commented on #103
@AndreyNovikov2909 Did you fix the issue? I am also facing the same problem. Signing transaction is not working well it seems. I checked the same values with javascript code the hash of signed transaction is different from the swift code.I believe the r s v values are not calculated properly in the swift code. Please let me know if you have any developments.

[2021-06-12 20:12] mudilajaganios commented on #103
@AndreyNovikov2909
I got rid off the issue by extending the `EthereumTransaction` struct also I had to extend `RLPItem` struct too.

It worked for me, try for yourself

I have compared it with the Web3.js javascript implementation. Only 6 properties to be used for signing the transaction they are as below:

[code]

`extension EthereumTransaction {
    public func signX(with privateKey: EthereumPri

[2021-07-15 09:20] podkovyrin commented on #103
You need to estimate gas before sending tx to the network.
[code]

[2021-07-15 09:22] mudilajaganios commented on #103
Thanks @podkovyrin I am through with this issue. As I mentioned in my previous reply. There is an issue with the Transaction signature. So, Implemented the changes.

[2021-07-15 10:06] podkovyrin commented on #103
@mudilajaganios
[code]
This looks kinda dangerous, you need to include chain id in the signature otherwise it might lead to replay attacks. See https://github.com/ethereum/EIPs/blob/master/EIPS/eip-155.md

[2021-07-15 10:11] mudilajaganios commented on #103
@podkovyrin

Hey sorry, this code is updated. I faced the issue with the chain id too. I changed the method to include it.

[code]

[2021-07-30 09:53] ChurikiTenna opened #105 "Is it possible to call Binance Smart Chain?"
I am new to web3.
Sorry, If my question sound silly.

I was trying to init web3 with infura url, but apparently infura does not support BSC network.
So, I created Ankr api, and tried to get rpc url with Formatic to init web3.
But Formatic does not support iOS anymore (SDK on github is archived).

What should I do...??
I appreciate any help!

[2021-07-30 10:34] Mreyna3 commented on #105
Try using quick node to spin up a BSC node then connect via HTTP

[2021-08-04 04:35] #105 closed

[2021-08-04 05:34] ChurikiTenna opened #107 "How do I obtain hexPrivateKey?"
I am trying init EthereumPrivateKey with hexPrivateKey.

I have connected my wallet with walletconnectswift.
But there is no information of private key in the session obtained.

Below is the session info

Session(url: WalletConnectSwift.WCURL(topic: "E922E244-D80F-4933-A1AD-4D965F15E077", version: "1", bridgeURL: https://etherscan.bridge.walletconnect.org, key: "676e6f73697373616665b82b4a7797c7fb5

[2021-08-08 01:56] bejitono opened #108 "WalletConnect Web3Provider"
Hi, are you aware of any Web3Provider implementation that uses WalletConnect as a Web3Provider, similar to what already exists in JS? https://www.npmjs.com/package/@walletconnect/web3-provider

Many thanks!

[2021-08-14 07:10] shuvayansaha commented on #92
This piece of code is working.

`        firstly {
            web3.eth.getTransactionCount(address: privateKey.address, block: .latest)
        }.then { nonce -> Promise<EthereumSignedTransaction> in
            let tx = try EthereumTransaction(
                nonce: nonce,
                gasPrice: EthereumQuantity(quantity: 21.gwei),
                gas: 21000,
                to: EthereumAddr

[2021-08-14 07:13] shuvayansaha commented on #92
`
        firstly {
            web3.eth.getTransactionCount(address: privateKey.address, block: .latest)
        }.then { nonce -> Promise<EthereumSignedTransaction> in
            let tx = try EthereumTransaction(
                nonce: nonce,
                gasPrice: EthereumQuantity(quantity: 21.gwei),
                gas: 21000,
                to: EthereumAddress(hex: toAddress, eip55: true

[2021-11-06 13:18] shreyaspapi opened #109 "Is the project still maintained?"

[2021-12-25 09:20] text4lilac opened #111 "How to write Contract ABI functions swift ios"
i have made an demo app using walletconnectswift library for connecting to rainbow wallet and i want to write contract functions given in this link below:
[https://ropsten.etherscan.io/address/0x1c5509db908b34d81566f48780caa22e918c228a#writeContract](url)

i have tried but not working. can i get an example of how it works. can i get example of approve function

the code i have tried is below:

let

[2022-01-24 08:15] tungnguyentp opened #112 "someone please let me know gas: 1500000 = ??? ETH"
guard let transaction = contract["createToken"]?(nftUrl).createTransaction(nonce: nonce, from: myPrivateKey!.address, value: 0, gas: 1500000, gasPrice: EthereumQuantity(quantity: 200.gwei)) else {
                                                                print("error")
                                                                self.alert.dismiss(animated: true, completion: nil)

[2022-02-15 10:49] #107 closed

[2022-03-07 09:07] nick70007 opened #113 "method eth_sendTransaction does not exist/is not available error"
In my Swift UI App i am trying to send transaction but everytime i get this error as:

method eth_sendTransaction does not exist/is not available error

Here is my code anippet:
        let web3 = Web3(rpcURL: "https://ropsten.infura.io/v3/4cca371cb77c4935bdb1a1381b2ffbe2")

        guard let walletAddress = getAddress(hex: session.walletInfo!.accounts[0]) else { return }
        guard let contrac

[2022-03-09 11:34] text4lilac opened #114 "fetch chainid of connected wallet"
how do i fetch chain_id of connected wallet i.e for ropsten for example. Currently i cant find any function for that in this library. Is there a workaround?

[2022-03-10 04:30] text4lilac opened #115 "Always getting chain_id as 3"
in my app i am using web3.net.version method to fetch network_id (chain_id) but even though i connect my wallet with mainnet i always get netwotk_id as 3. Any workaround?

[2022-03-10 09:24] text4lilac opened #116 "eth_sendTransaction not available"
in my app, i am trying to call eth_sendTransaction method but its not working and giving error of eth_sendTransaction method not avaialble

i am trying to connect with metamask and using web3 rpc url:-
[https://ropsten.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161](url)

i want to proceed without signing transaction. Is it possible or is there any workaround?

[2022-03-27 04:18] matthewlui commented on #100
This reason is relatively stupid, try not to follow the setup code in readme,
instead of putting:
`.product(name: "Web3", package: "Web3")`
use
`.product(name: "Web3", package: "Web3.swift")`

[2022-04-15 04:06] danil-z opened #119 "Support for macOS 12.3.1"
It seems that library fails to build for macOS 12.3.1.
Any plans to support current Apple platforms?

[2022-04-15 07:56] koraykoska commented on #119
What is the error?

[2022-04-19 10:04] Nahatakyan opened #120 "Is there a way to get the address from mnemonics?"
Hi. I am new to Web3 and maybe my question will be wrong)
Currently, I am using Web3Swift and with that library, I can create an address, take mnemonics, then add what wallet to another app with that mnemonics. Now I want to use WalletConnect in my app and want to change that Web3Swift to yours, but can't find a way to get or create the address.

[2022-04-25 11:35] FrankSolleveld commented on #119
Do you mean that your current operating system is macOS 12.3.1? I'm on that OS as well and have an Apple silicon chip. Web3.swift fails on `EthereumQuantityTag.swift` with the following error:
`'BigUInt' is ambiguous for type lookup in this context`

[2022-05-01 08:15] maximedegreve opened #121 "Documentation on how to us this in Linux (Vapor)"
There you would use more a async try await or EventLoop system and it's very unclear how this works with your frameworks and PromiseKit and there are no examples of how to implement your own.

A simple example of how to interact with a contract in that env would be great to get people up and running like me.

[2022-05-20 08:34] BerkinSi commented on #12
Hello is there any current solution for signing a request? seems like EthereumPrivateKey is no longer is used

[2022-06-06 18:57] ceobitch commented on #113
Same here

[2022-06-06 18:57] ceobitch commented on #113
@nick70007  Did you find a soultion?

[2022-06-22 04:02] Crypto-Doby opened #122 "Dynamic array's encode/decode issue"
now the dynamic array's encoding logic is to encode every item, then concat the hex string follow the length encoded hex.:

[code]

but follw the document: https://docs.soliditylang.org/en/v0.8.13/abi-spec.html#formal-specification-of-the-encoding
it seems that the dynamic array's encoded data should have extra bytes between length hex and item's hex, to represent the dynamic item's data location.

[2022-06-22 14:56] koraykoska commented on #121
PromiseKit is not directly compatible with the EventLoop / async / await system. You will have to build your own abstraction layer around that. The library is fully thread-safe, so you don't have to worry about deadlocks or memory access issues. Just wrap the Promises and you are good to go.

If you build a generic solution, I am happy to accept the PR.

[2022-06-22 15:02] koraykoska commented on #116
You can create your own methods as extensions of Web3 or Web3.Eth. Just use the same approach as in the Web3.swift main file (take the example of eth_sendRawTransaction).

We don't support all methods because there are a lot and most of them are not supported/discouraged. This library assumes in many places that private keys are directly handled, not by the node. That's why we don't support things

[2022-06-22 15:20] koraykoska commented on #122
@Crypto-Doby Can you fix this method and make a PR? Please also include the official test cases from Solidity's docs.

[2022-06-22 15:44] Nahatakyan commented on #120
Thanks @koraykoska

[2022-06-22 15:44] #120 closed

[2022-07-11 11:11] #121 closed

[2022-07-13 09:57] xhzth70911 opened #123 "Can signtypeddata be supported?"
Signtypeddata doesn't have this method. Can it be implemented like web3.js? thank you

[2022-08-25 09:17] wainglaister commented on #12
This still seems to be the case, it generates a public key but it isn't correct. The commented out function does return true when using the correct public key and it does return false when using a public key generated from the message and signature constructor.

This appears to be a bug, specifically on line 175 where the hash generated for recovery is from the signature instead of the message.
ht

[2022-08-25 09:23] wainglaister commented on #12
Now I know the issue I can see there's a PR waiting to merge that has a fix
https://github.com/Boilertalk/Web3.swift/pull/124

[2022-08-25 11:42] wainglaister commented on #12
Looking at this a different way, getting a wallet to create a signature and then trying to verify it is both a pain (splitting into vrs) and doesn't work (returns a different public key) for a message and signature validated by etherscan. This should likely be a new issue, not sure how to resolve currently...

[2022-08-29 12:13] bolianghui opened #125 "Can I use Cocoapods to get this code?"
SPM and Cocoapods dependencies conflict.

[2022-08-29 22:16] koraykoska commented on #125
Cocoapods is not supported. Please use SPM.

[2022-08-29 22:16] #125 closed

[2022-09-21 06:57] victorylau opened #126 ""The method eth_sendTransaction does not exist/ is not available""

[2022-10-12 17:29] Florian-S-A-W commented on #119
I cannot reproduce this issue on macOS 12.6

[2022-10-21 13:31] koraykoska commented on #126
@victorylau We do not officially support methods that encourage behaviour that is deprecated due to obvious security concerns. You can add any methods using `extension` functions. Simply look at the `Web3` class and copy the `eth.sendRawTransaction`, modify it to match whatever request you want to support and rename it. That way you can support any method you want with a few lines of code.

A good

[2022-10-21 13:33] koraykoska commented on #123
@xhzth70911 No, this is not supported. You are open to implementing it and opening a PR.

[2022-10-21 13:35] koraykoska commented on #122
@Crypto-Doby Please check #135

That's just decoding for now. But after making a few tests I will recreate the encoding API as well.

[2022-10-21 13:35] koraykoska commented on #126
See #116

[2022-10-24 00:44] victorylau commented on #126
Thanks a lot. I resolve my problem.

[2022-10-24 00:45] #126 closed

[2022-11-02 06:57] dengbangquan opened #142 "web3 How do I get transaction logs"
I want to get web3 transaction logs, what apis do I need to use?

[2022-11-05 06:55] dengbangquan opened #146 "sendRawTransaction Send a transaction error"
couldn\'t retrieve sender address (\'\') from the ethereum transaction: invalid chain id for signer: tx intended signer does not match the given signer: tx intended signer does not match the given signer

[2022-11-05 09:27] koraykoska commented on #146
@dengbangquan Please provide an example to reproduce the issue. I heard about this issue multiple times but couldn't reproduce it.

[2022-11-05 13:35] dengbangquan commented on #146
For example:
let web3 = Web3.init(rpcURL: "https://rpctest.ic-plaza.org",rpcId: 9000)
        let from = try! EthereumAddress.init(hex: "0x93B491B844d9e473Fc320F2d9430901F8b35f46B", eip55: false)
        let to = try! EthereumAddress.init(hex: "0x0ec48ce4af97fd6bb1d0d99d8957bf76fb651dc6", eip55: false)
        web3.eth.getTransactionCount(address: myPrivateKey.address, block: .latest) { resp in

[2022-11-22 15:31] Florian-S-A-W commented on #109
Yes

[2022-11-22 15:31] #109 closed